body {
  min-width: 1200px;
}

html {
  background-color: #2D2B2C !important;
  padding: 2%;
}

.App {
  background-color: #DCDCDC;
  min-height: 510px;
}

/* SIDEBAR */
.sidebarLink {
  text-decoration: none;
  border-bottom: 2px solid #707070;
  font: bold 13px segoe UI;
  color: white;
}

.sidebarLink:hover {
  background-color: #707070;
  color: white;
  transform: scale(1.1);
}

/* SIDEBAR */

/* VIOLATION */
#showviolations{
  display: block; 
  overflow-y: auto; 
  overflow-x: hidden; 
  height: 300px;
}

.violationTable th {
  background-color: #707070;
  color: white;
  padding: 5px 15px 5px 15px;
}

.violationTable td {
  border: 1px solid #707070;
}

.violationTable {
  text-align: center;
  border-collapse: separate;
  background-color: #F7F7F7;
}

.search {
  background-color: white;
  width: 97%;
  border-radius: 7px;
}

.search p {
  margin: 0%;
  color: #747172;
  opacity: 52%;
}

.search img {
  height: 20px;
  width: 20px;
}

/* VIOLATION */

/*18-Nov-22*/

/* NAVBAR */
.navContainer {
  
  background: #A19B9E;
  border-color: #707070;
}

.navCenter {
  margin: 0;
  text-align: center;
}

.navSpan {
  color: #FFD700;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navLink:hover {
  color: #FFD700;
  transition: .1s ease;
}

/* NAVBAR */

/* HOME */
.homeLogo {
  background-image: url('/backgroundlogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  opacity: 10%;
}

/* HOME */

/* VIOLATION-DETAILS */
.uoList0 {
  list-style-type: none;
  font-weight: bold;
  font-size: small;
  line-height: 0.8cm;
}

.uoList1 {
  list-style-type: none;
  font-size: small;
  line-height: 0.8cm;
  padding-left: 0;
}

.bi-arrow-left {
  color: black;
  font-size: x-large;
}

.bi-person-circle {
  font-size: 90px;
  padding-left: 30%;
}

.vioDTable::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.bi-exclamation-triangle-fill {
  color: red;
}

.bi-exclamation-triangle {
  color: yellow;
}

/* VIOLATION-DETAILS */

/* SYSTEM CONTROL */
.topHeading {
  padding-top: 10px;
  text-align: left;
  text-decoration: underline;
  color: white;
  font-size: 29px;
}

.inpTime {
  margin-left: 6px;
  width: 28%;
}

.controlNav2 {
  text-decoration: none;
  color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.controlNav2:hover {
  color: white;
  transform: scale(1.1) translateX(7px);
}

.controlNav1 {
  text-decoration: none;
  color: white;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.controlNav1:hover {
  color: white;
  transform: scale(1.1) translateX(-7px);
}

/* SYSTEM CONTROL */